.container {
  width: 500px;
  margin: 20px auto;
}
.form {
  backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
  border-radius: 6px;
  padding: 20px;
  display: flex;
  align-items: center;
}
.input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  flex: 1;
}
.input:focus,
.add:focus {
  outline: none;
}
.add {
  border: none;
  background-color: #ffffff;
    color: #080710;
  padding: 10px;
  border-radius: 6px;
  margin-left: 10px;
  cursor: pointer;
}
.tasks {
  backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
  margin-top: 20px;
  border-radius: 6px;
  padding: 20px;
}
.tasks .task {
  backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
  border: 1px solid #ccc;
}
.tasks .task:not(:last-child) {
  margin-bottom: 15px;
}
.tasks .task:hover {
  background-color: #ccc;
}
.tasks .task.done {
  opacity: 0.5;
  position: relative;
}
.task.done::after {
  position: absolute;
  content: "";
}
.tasks .task span {
  font-weight: bold;
  font-size: 10px;
  background-color: #ffffff;
  color: #080710;
  padding: 2px 6px;
  border-radius: 4px;
  cursor: pointer;
}
.delete-all {
  width: calc(100% - 25px);
  margin: auto;
  padding: 12px;
  text-align: center;
  font-size: 14px;
  background-color: #ffffff;
  color: #080710;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 4px;
}
